{
  "env": {
    "test": {
      "plugins": [
        [
          "@babel/plugin-transform-react-jsx",
          {
            "pragma": "h"
          }
        ],
        "@babel/plugin-proposal-class-properties"
      ],
      "presets": [
        "@babel/preset-env"
      ]
    }
  }
}
